@charset "UTF-8";

/*
    Paleta de cores 
    Verde: #49a09d
    Lil치s: #5f2c82
 */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body,
html {
    background-color: #5f2c82;
    width: 100vw;
    height: 100vh;
}

main {
    position: relative;
    width: 100vw;
    height: 100vh;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    background-color: white;
    width: 250px;
    height: 520px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.452);

    transition: width .5s, height .5s;
    transition-timing-function: ease;
}

section#login>div#imagem {
    display: block;
    background: #5f2c82 url(../imagens/pexels-anni-roenkae-2832382.jpg) no-repeat;
    background-position: left bottom;
    background-size: cover;
    height: 200px;
}

section#login>div#formul치rio {
    display: block;
    padding: 10px;
}

div#formul치rio>h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formul치rio>p {
    font-size: 1em;
}

form > div.campo {
    background-color: #5f2c82;
    border: 2px solid #5f2c82;
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px;
}

form label {
    display: none;
}

form>input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #49a09d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form>input[type=submit]:hover {
    background-color: #2d6462;
}

form>a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 5px;
    margin-top: 5px;
    background-color: white;
    color: #2d6462;
    border: 1px solid #49a09d;
    border-radius: 7px;
    text-decoration: none;
}

form>a.botao:hover {
    background-color: #6cd3cf;
}

form > a.botao > span {
    font-size: 0.8em;
}